.rt-menu {
    &__header {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    &__element {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.rt-menu--vertical {
    ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            position: relative;
        }
    }

    .rt-menu {
        &__main {
            background-color: $navbar-sm-bg;
        }

        &__item a {
            font-size: 14px;
            position: relative;
            line-height: $navbar-sm-height;
            padding-left: 15px;
            padding-right: 15px;
            color: $navbar-sm-color;
            cursor: pointer;
            border-bottom: 1px solid $navbar-sm-border-color;
            display: block;
        }

        &__arrow {
            position: absolute;
            height: $navbar-sm-height;
            width: $navbar-sm-height;
            right: 0;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            font-size: 18px;
            background-color: rgb(28, 28, 28);

            i {
                transition: 0.5s linear;
                color: rgba(255, 255, 255, 0.5);
            }

            &.is-active {
                i {
                    transform: rotate(180deg);
                }
            }
        }

        &__submenu {
            display: none;
            padding-left: 15px;
        }
    }
}