.tag-cloud-link {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 10px;
    text-transform: capitalize;
    padding: 5px 10px;
    color: $color-primary;
    border: 1px solid $border-color;
    border-radius: $border-radius;


    &:hover {
        color: $color-base;
        border-color: $color-brand;
        background-color: $color-brand;
    }
}

.rt-widget .tag-cloud-link:hover {
    color: $color-base;
}

.rt-widget--footer {
    .tag-cloud-link {
        border-color: rgba(255, 255, 255, 0.14);
    }
}