.rt-post,
.at-post {
    transition: 0.3s;
    position: relative;

    &__thumbnail {
        margin-bottom: 11px;
    }

    .rt-badges {
        margin-bottom: 7px;
        position: absolute;
        top: 5px;
        left: 5px;
        @extend .rt-badges;
    }

    &__title {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: rem(16px);

        a {
            color: $color-primary;

            &:hover {
                color: $link-active;
            }
        }
    }

    &__meta {
        margin-bottom: 10px;
        margin-left: -7px;
        margin-right: -7px;


        &-item {
            color: $color-third;
            font-size: 12px;
            line-height: 1;
            padding-left: 7px;
            padding-right: 7px;
            position: relative;

            i {
                margin-right: 5px;
            }

            &:hover {
                color: $color-second;
            }

            &:before {
                content: "";
                position: absolute;
                right: -4px;
                top: 2px;
                bottom: 2px;
                width: 2px;
                background: $border-color;
            }

            &:last-child {
                &:before {
                    display: none;
                }
            }
        }
    }

    &__content {
        color: $color-second;
        margin-bottom: 8px;
        margin-bottom: 10px;
        font-size: 14px;
    }

    &__readmore {
        @extend .rt-btn;
        @extend .rt-btn--sm;
        @extend .rt-btn--border;
        font-size: 13px;
    }
}

/*=================================================
*  POST LIST
=================================================== */

.rt-post--list {
    display: flex;
    flex-wrap: wrap;

    .rt-post,
    .at-post {
        &__thumbnail {
            width: 100%;

            @include media-min(lg) {
                width: 320px;
                margin-bottom: 0;
            }
        }

        &__body {
            @include media-min(sm) {
                flex: 1;
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
}

/*=================================================
*  POST LIST SM
=================================================== */

.rt-post--list-small {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;

    .rt-post {
        &__title {
            margin-bottom: 3px;
            margin-top: 0;
            font-size: rem(14px);

        }

        &__meta {
            margin-bottom: 0;
        }

        &__thumbnail {
            width: 80px;
            margin-bottom: 0;

            img {
                width: 100%;
            }
        }

        &__body {
            flex: 1;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}