$border-color: #dddddd;
$border-radius: 0;
$gray-light: #fafafa;
$shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.1);

$color-base: #ffffff;
$color-brand: #0073aa;

@import "_bulma";
@import "_acf";

/*=================================================;
/* LAYOUT
/*================================================= */
.bulma .container {
  margin: 0 !important;
}

.bulma {
  margin: 10px 20px 0 2px;

  *,
  ::before,
  ::after,
  legend {
    box-sizing: border-box !important;
  }
}

/*=================================================;
/* PANEL
/*================================================= */
.theme-panel {
  margin-right: 1px;
  padding-right: 15px;
  margin-top: 15px;
}

/*=================================================;
/* HEADER
/*================================================= */

.page-header {
  margin-top: 15px;
  margin-bottom: 30px;
  display: flex;
  flex-grow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.page-info {
  margin-top: 30px;
  margin-bottom: 30px;
}

/*=================================================;
/* BOX INFO
/*================================================= */

.rta-info-box {
  background-color: #ffffff;
  padding: 15px;
  border: 1px solid $border-color;
  display: flex;
  flex-grow: row nowrap;

  &__icon {
    margin-right: 10px;
    font-size: 18px;
    width: 40px;
    line-height: 40px;
    height: 40px;
    text-align: center;
    border-radius: 100px;
    background: #016087;
    color: #fff;
  }

  &__body {
    flex: 1;
  }

  &__title {
    font-size: 18px !important;
    font-weight: bold;
    margin-bottom: 10px !important;
  }

  .button {
    margin-top: 15px;
    float: right;
    font-size: 14px;
  }
}

.bg-light {
  background-color: #ffffff;
}

/*=================================================;
/* INPUT
/*================================================= */
.input {
  &.is-disabled {
    background-color: whitesmoke;
    border-color: whitesmoke;
    box-shadow: none;
    color: #7a7a7a;
  }
}

/*=================================================;
/* MENU - PRO
/*================================================= */
.rta-menu-pro {
  color: greenyellow;
}

/*=================================================;
/* THEME MENU
/*================================================= */
.rta-theme-menu {
  background: $color-brand;
  margin-left: -22px;
  margin-right: -22px;
  margin-bottom: 30px;
  margin-top: -15px !important;

  a {
    color: $color-base !important;
    font-size: 14px;
    padding: 15px !important;
  }

  li {

    &:hover,
    &:focus,
    &:active,
    &.is-active {
      background-color: lighten($color-brand, 10) !important;
      border: none !important;

      a {
        border: none !important;
        color: $color-base !important;
      }
    }
  }
}

/*=================================================;
/* WORDPRESS - NOTICE
/*================================================= */
#update-nag,
.update-nag {
  display: block;
  margin-left: 0 !important;
}

.notice {
  display: none;
}

#wpbody-content {
  .notice {
    padding: 10px;
    display: block;
    margin-left: 0 !important;
  }
}

/*=================================================;
/* BULMA - CARD
/*================================================= */
.bulma {
  .card {
    padding: 0;
  }
}

/*=================================================;
/* BULMA - MODAL
/*================================================= */
.bulma {
  .modal {
    z-index: 9999 !important;
  }
}

/*=================================================;
/* FREEMIUS
/*================================================= */
.fs-tab {
  display: none !important;
}
