/*=================================================
*  CART ITEM
=================================================== */

.woocommerce a.remove {
  background-color: $color-base;
  border: 1px solid $border-color;
  cursor: pointer;
  padding-right: 0;
  color: darken($border-color, 20%) !important;
  line-height: 15px !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  width: 16px !important;
  height: 16px !important;
  border-radius: 0 !important;

  &:hover {
    border-color: lighten($color-danger, 30);
    background-color: lighten($color-danger, 39);
    color: darken($color-danger, 10) !important;
  }
}

.woocommerce .quantity,
.woocommerce .quantity .qty {
  width: 5.631em;
}

.woocommerce table.shop_table .product-name a {
  font-weight: $font-weight;
  color: $color-second;
}

/*=================================================
*  CART TOTAL
=================================================== */

.cart-collaterals {
  background-color: $gray-light;
  border: 1px solid $border-color;
  padding: 15px;

  .shop_table {
    background-color: $color-base;
    border: 1px solid $border-color;
    border-radius: $border-radius;

    td {
      text-align: right;
      background-color: $color-base !important;
    }
  }

  .checkout-button {
    margin-bottom: 20px;
  }
}

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
  width: 100%;
}

/*=================================================;
/* SHIPPING - CART CALC
/*================================================= */
.shipping-calculator-form{
  text-align: left;
}
/*=================================================
*  COUPON
=================================================== */

.woocommerce-cart .woocommerce-cart-form .actions {
  .coupon {
    display: flex;
  }
  .input-text {
    width: 250px !important;
    margin-right: 10px;
  }

  @include media(md) {
    .coupon {
      width: 100% !important;
      display: block;
      margin-bottom: 10px;
      padding-bottom: 0 !important;
    }

    .input-text {
      width: 100% !important;
      margin-bottom: 10px !important;
    }
    .rt-btn,
    .button {
      float: none;
      width: 100% !important;
    }
  }
}

.woocommerce-js.pro .js-button-cart-update {
  display: none;
}

/*=================================================
*  IMAGE
=================================================== */
.woocommerce-cart table.cart img {
  width: 70px;
}

/*=================================================;
/* CART SMALL DEVICE
/*================================================= */

@include media(md) {
  .woocommerce table.cart.shop_table_responsive tr td::before,
  .woocommerce-page table.cart.shop_table_responsive tr td::before {
    content: attr(data-title) !important;
    font-weight: $font-weight !important;
    float: left;
  }

  .woocommerce-cart-form__contents .product-thumbnail {
    position: absolute !important;
    display: block !important;
    top: 8px;
    left: 8px;
  }

  .woocommerce table.cart.shop_table .product-subtotal {
    margin-bottom: 48px;
  }
  
  // remove on mobile
  .woocommerce table.cart.shop_table .product-price {
    display: none;
  }

  .woocommerce table.cart.shop_table .product-name,
  .woocommerce table.cart.shop_table .product-subtotal {
    font-size: 14px;
    text-align: left !important;
    padding-left: 98px !important;
    padding-right: 35px !important;
    padding-top: 0 !important;

    .amount {
      float: left;
      margin-left: -5px;
      margin-top: 30px;
    }
  }

  // hidden label attr
  .woocommerce-cart-form__contents .product-name:before,
  .woocommerce-cart-form__contents .product-thumbnail:before,
  .woocommerce-cart-form__contents .product-price:before,
  .woocommerce-cart-form__contents .product-subtotal:before {
    display: none !important;
  }

  .woocommerce-cart-form__contents .woocommerce-cart-form__cart-item {
    position: relative;
  }

  .woocommerce-cart-form__contents img {
    width: 70px !important;
  }

  .woocommerce-cart-form__contents tbody th,
  .woocommerce-cart-form__contents td,
  .woocommerce-cart-form__contents tfoot,
  .woocommerce-cart-form__contents tfoot td {
    border: none !important;
  }

  .woocommerce-cart-form__contents tr {
    border-bottom: 1px solid #ebebeb !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
  }

  .woocommerce-cart-form__contents
    .woocommerce-cart-form__cart-item
    td::before {
    float: none !important;
  }

  .woocommerce-cart-form__contents .woocommerce-cart-form__cart-item td {
    padding: 3px 8px !important;
  }

  .woocommerce-cart-form__contents tr:nth-child(2n) td {
    background-color: transparent !important;
  }

  .woocommerce-cart-form__contents .product-quantity {
    position: absolute;
    left: 90px !important;
    bottom: 30px !important;
  }

  .woocommerce-cart-form__contents .product-quantity:before {
    display: none !important;
  }

  .woocommerce-cart-form__contents .product-remove {
    position: absolute;
    z-index: 990;
    top: 5px;
    right: 5px;
    padding: 0 !important;
  }

  // qty field
  .woocommerce-cart .woocommerce .quantity,
  .woocommerce-cart .woocommerce .quantity .qty {
    height: 25px;
    font-size: 14px;
    line-height: 25px;
    width: 70px !important;
    padding: 0;
    border: none;
  }

  .woocommerce-cart .rt-qty {
    span {
      color: $color-third;
      font-size: 13px;
      background-color: transparent;
      border-radius: $border-radius;
      top: 3px;
      width: 18px;
      height: 18px;
      line-height: 18px;
    }
  }
}

.woocommerce table.cart.shop_table_responsive tr td::before,
.woocommerce-page table.cart.shop_table_responsive tr td::before {
  font-weight: $font-weight !important;
}

.woocommerce table.shop_table_responsive tr td::before,
.woocommerce-page table.shop_table_responsive tr td::before {
  font-weight: $font-weight !important;
}
